body {
    background-color: rgb(120, 110, 129);
    display:flex;
    flex-direction: column;
}
.anzeige {
    border: solid grey 10px;
    border-radius: 8px;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    margin: 40px;
    align-self:center;
    margin:50px auto;
    padding:50px;
}
h1, h2, p, h3{
    align-self: center;
    color:darkblue;
}
.auswahlfeld {
    border:solid rgb(184, 181, 181) 15px;
    display:flex;
    background-color: rgb(232, 236, 240);
    justify-content: space-between;
    flex-direction:column;
    align-self:center;
    padding:70px;
}
img {
    margin:20px auto;
}
#result {
    display: flex;
    justify-content: space-around;
}
#ergebnis {
    display: flex;
    flex-direction: column;
    align-self: center;
    width:200px;
}
.ergebnisfeldEins, .ergebnisfeldZwei {
    height: 150px;
    background-color: rgb(188, 208, 225);
    border: solid grey 8px;
    border-radius: 10px;
    margin: 20px;
    display:flex;
}
.rotate {
    rotate: 180deg;
}
#start {
    cursor:pointer;
    border:solid black 2px;
    background-color: rgb(145, 231, 231);
    padding:10px;
    border-radius: 8px;
}
#start:hover {
    color:red;
}
.points {
    margin: 2em 0;
    text-align: center;
}
#computerPoints {
    margin-left: 3em;
}
#playerPoints {
    margin-right: 3em;
}
button {
    border:solid transparent 2px;
    background: none;
    cursor: pointer;
}
button:hover {
    border:solid black 2px;
    border-radius: 8px;
}